<!-- 尾部 -->
        <footer class="sl-footer">
            <div class="footer-container">
                <dl class="footer-dl-1">
                    <dt class="title-footer">公司信息</dt>
                    <dd>
                        <a href="">公司简介</a>
                    </dd>
                    <dd>
                        <a href="">点融动态</a>
                    </dd>
                    <dd>
                        <a href="">媒体报道</a>
                    </dd>
                    <dd>
                        <a href="">加入我们</a>
                    </dd>
                    <dd>
                        <a href="">联系我们</a>
                    </dd>
                    <dd>
                        <a href="">点融社区</a>
                    </dd>
                </dl>
                <dl class="policy">
                    <dt class="footer-policy">相关政策</dt>
                    <dd>
                        <a href="">法律规定</a>
                    </dd>
                    <dd>
                        <a href="">平台优势</a>
                    </dd>
                    <dd>
                        <a href="">多重保障</a>
                    </dd>
                    <dd>
                        <a href="">免责声明</a>
                    </dd>
                </dl>
                <dl class="app-download">
                    <dt class="footer-mobile">手机应用</dt>
                    <dd class="download-link">
                        <a href="#">
                            <i class="iconfont icon-pingguo" aria-hidden="true"> iPhone</i>
                        </a>
                    </dd>
                    <dd class="download-link-1">
                        <a href="#">
                            <i class="iconfont icon-anzhuo" aria-hidden="true"> Android</i>
                        </a>
                    </dd>
                    <dd class="qr-code"></dd>
                    <dt class="qr-code-dt">关注公众号</dt>
                    <dd class="public-code"></dd>
                </dl>
                <dl class="our-office">
                    <dt>联系我们</dt>
                    <dl class="map"></dl>
                    <dd>北京</dd>
                    <dd>上海</dd>
                    <dd>广州</dd>
                    <dd>重庆</dd>
                    <dd>南京</dd>
                    <dd>成都</dd>
                    <dd>天津</dd>
                    <dd>武汉</dd>
                    <dd>大连</dd>
                    <dd>深圳</dd>
                    <dd>合肥</dd>
                    <dd>
                        <a href="#">更多</a>
                    </dd>
                </dl>
                <dl class="footer-friend-link">
                    <dt style="display: inline-block;">友情链接</dt>
                    <dd>
                        <a href="">和讯理财</a>
                    </dd>
                    <dd>
                        <a href="">香港保险</a>
                    </dd>
                    <dd>
                        <a href="">金融导航</a>
                    </dd>
                    <dd>
                        <a href="">金苏财富</a>
                    </dd>
                    <dd>
                        <a href="">贵金属</a>
                    </dd>
                    <dd>
                        <a href="">中金网</a>
                    </dd>
                    <dd>
                        <a href="">顶牛股网</a>
                    </dd>
                    <dd>
                        <a href="">航运指数</a>
                    </dd>
                    <dd>
                        <a href="">Fxsol官网</a>
                    </dd>
                    <dd>
                        <a href="">利得财富</a>
                    </dd>
                    <dd>
                        <a href="">P2P投资</a>
                    </dd>
                </dl>
                <ul class="footer-copyright">
                    <li>©2017 点融</li>
                    <li>
                        <a href="">沪ICP备14028311号</a>
                    </li>
                    <li>上海点荣金融信息服务有限责任公司</li>
                </ul>
                <div class="footer-authentication-info">
                    <a class="picp" href="">
                        <span>31010102002033</span>
                    </a>
                    <a class="norton" href=""></a>
                    <a class="jblogo" href=""></a>
                    <a class="iac" href=""></a>
                    <!--                    <a class="verifyseal" href=""></a>-->
                    <a class="szfw" href=""></a>
                    <a class="itrust" href=""></a>
                    <a class="itrust-enterprise" href=""></a>
                </div>
                <p class="text-text">
                    客户意见反馈专线：4009219218；专用邮箱：ts@dianrong.com。收到您的意见反馈后，我们将及时处理和回复。如涉及违法或不良信息，我们将及时核查和删除、屏蔽、断开链接，并对违法账号采取警示教育、暂停更新、限制发布直至关闭等处置措施。
                </p>
            </div>

        </footer>