<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/login.css' />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
	<title>登录-点融官网</title>
</head>
<body>
	<div class="head">
		<div class="head-content">
			<div class="head-log">
				<img src="/images/lender-logo-2@mobile.png" alt="">
			</div>
			<div class="sever-Nub"><span>客服热线：10109188</span></div>
			
		</div>
	</div>
	<div class="container">
		<div class="container-content">
			<div class="container-img">
				<img src="/images/598062f4339ff93c00f1d4d9@1502098041887.jpg" alt="">
			</div>
			<div class="userform">
				<div class="title">
					<h3 class="userform-title">登录
						<span>
							没有账号？
							<a href="/register">立即注册</a>
						</span>
					</h3>
				</div>
				
				<div class="userform-content">
					<input type="text" class="upInput" placeholder="请输入手机号码/邮箱名/用户名">
					<input type="password" class="downInput" placeholder="请输入密码">
					<div class="check">
						<input type="checkbox" class="checkboxStyle"><span >记住我</span>
						<p class="losepaw">忘记密码？</p>
					</div>
					<div class="err"></div>
					<button class="login" disabled="disabled">登录</button>
					<p class="threeNub">使用第三方账号登录<i class="sina"></i> <span class="qq"></span></p>
				</div>
				<div class="borrower">
					<p>借款人登录<a>请点击此处</a></p>
				</div>
			</div>
		</div>
	</div>
</body>
	<script src="/js/login.js"></script>
</html>














